<div class="row">
<div class="span6">
<a id="createSubsonicServerInfoBtn" class="btn btn-success" href="#">Add</a>
</div>
<div class="span2 subsonicServerListContainer">
{% include 'CogimixSubsonicBundle:SubsonicServerInfo:list.html.twig' %}
</div>
<div id="subsonicServerInfoForm" class="span4">

</div>
</div>