{% spaceless %}
<div id="manageSubsonicServerModal" class="modal fade">
 <div class="modal-dialog">
<div class="modal-content">
 <div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4>{{ 'cogimix.manage_subsonic_servers'|trans }}</h4>
 </div>
 <div class="modal-body">

 </div>
 <div class="modal-footer"></div>
</div>
</div>
</div>
{% endspaceless %}