{% spaceless %}
<div id="manageSubsonicServerModal" class="modal hide fade">
 <div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
    <h3>Manage Subsonic servers</h3>
 </div>
 <div class="modal-body">

 </div>
</div>
{% endspaceless %}